
<footer class="footer mt-auto py-3">
  <div class="container">
  {%- assign _locale_copyright_dates = __return -%}
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <div class="nav navbar-text">
      {%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
      {%- assign _locale_copyright_dates = __return -%}
      © <a href="mailto:{{ _author.email }}" target="_blank"> {{ site.title }} </a> 2019 - {{ _locale_copyright_dates }} | All Rights Reserved. |
</div>
  </div>
</footer>
