<footer>
  <div class="navbar navbar-default navbar-fixed-bottom">
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <div class="nav navbar-text">
      © <a href="mailto:{{ _author.email }}" target="_blank"> {{ site.title }} </a> 2019 - <script>document.write(new Date().getFullYear());</script> | All Rights Reserved. | 站内统计：<span id="busuanzi_container_site_uv">访客数<span id="busuanzi_value_site_uv", Style="color:red"></span>人，</span>
                  <span id="busuanzi_container_site_pv">访问量<span id="busuanzi_value_site_pv", Style="color:red"></span>次</span>
</div>
  </div>

</footer>
