<div id="slider" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
		   {%- assign _slide-index = 0 -%}
		{% for images in site.data.slider.images %}
		  <li data-target="#slider" data-slide-to="{{ _slide-index }}"></li>
		   {%- assign _slide-index += _slide-index -%}
		  {%- endfor -%}
	  </ol>
  <div class="carousel-inner">
	  {%- assign _counter = 1 -%}
   {% for images in site.data.slider.images %}
	
	 <div class="carousel-item" data-interval="{{ site.data.slider.interval }}">
	   <img src="{{ images.src }}" 
		{%- if _counter == 1 -%}
		class="d-block w-100 active" 
		{%- assign _counter = 0 -%}
		{%- else if -%}
		class="d-block w-100" 
		{%- endif -%}
		alt="{{ images.title }}">
		  <div class="carousel-caption d-none d-md-block">
		    <h3>{{ images.title }}</h3>
		    <p>{{ images.description }}</p>
		  </div>
	 </div>
    {%- endfor -%}
  </div>
  <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>